*{
    margin: 0;
    padding: 0;
}
body,.container-fluid{
    margin:0;
}
.container-fluid{
    padding:0;
    margin:0;
}
.topbox{
    background-color:white;
    box-shadow:5px 5px 3px 3px rgb(221, 213, 213,0.5);
}
.container{
    padding: 0;
}
.tp_bx_nav{
    width:100%;
}
.tp_bx_nav .logo{
    padding: 0;
    margin: 0;
    display:inline-block;
}
.tp_bx_nav .logo span{
    display: block;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 12px 8px;
}
.container .tp_navbar{
    margin:0;
    padding:0;
    list-style-type: none;
    overflow: hidden;
    float: right;
}
.clear{
    content:"";
    clear: both;
    display: table;
}
.container .tp_navbar li.mainconn{
    float:left;
}
.container .tp_navbar li.mainconn a.mainlink{
    display: block;
    color:black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    padding: 16px 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.container .tp_navbar li.mainconn a.mainlink:hover{
    border-bottom: 2px solid rgb(71, 71, 179);
    transition-duration: 0.5s;
} 
li.mainconn .dropdown-menu_{
    position: absolute;
    display: none;
    max-width: 220px;
    overflow: auto;
    z-index: 1;
}
li.mainconn .dropdown-menu_ ul.subNavbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}
li.mainconn .dropdown-menu_ ul.subNavbar li a{
    display: block;
    color:black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 14px 16px;
    text-decoration: none;
}
li.mainconn .dropdown-menu_ ul.subNavbar li a:hover{
    border-left: 2px solid black;
}
li.mainconn.dropdown_:hover .dropdown-menu_{
    display: block;
}
a.navbarIcon{
    display: none;
    color: cornflowerblue;
    font-size: 30px;
    position: absolute;
    right:35px;
    top:6px;
    text-decoration: none;
}

@media screen and (max-width:800px){
    .container .tp_navbar li.mainconn,.container .tp_navbar{
        width:100%;
        float: left;
        display: none;
    }
    a.navbarIcon{
        display: block;
    }
}
@media screen and (max-width:800px){
    .container .tp_navbar li.mainconn,.container ul.tp_navbar.show{
        display: block;
    }
} 